<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <section>
        <form onsubmit="return Client.handleSubmit(event)">
          <textarea id="text" placeholder="Enter a text"></textarea>
          <input
            type="submit"
            value="submit"
            onsubmit="return Client.handleSubmit(event)"
            onclick="return Client.handleSubmit(event)"
          />
        </form>
      </section>
      <section>
        <p id="lang"></p>
        <div id="classification"></div>
      </section>
    </main>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
