<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/resets.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/form.css">
</head>
<body>
    <main>
        <section>
            <form>
                <textarea id="text" placeholder="Type a text"></textarea>
                <input type="submit" value="submit">
            </form>
        </section>
    </main>
    
</body>
</html>